header {
  text-decoration: none;
  background-color: rgb(241, 228, 228);
}
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: rgb(2, 2, 95);
  color: black;
}
.container {
  width: 1440px;
  padding-left: 168px;
  padding-right: 168px;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.tamaño_nav_header {
  width: 100%;
}
.menu {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 5px;
}
.menu li {
  flex-grow: 1;
  list-style: none;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: #6b72b0;
}
#hello {
  background-image: url(images/slide-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 168px;
  color: rgb(7, 5, 117);
  font-size: x-large;
}
div {
  box-sizing: border-box;
}
.div_imagen {
  width: 900px;
  height: 500px;
}
.color_header {
  background-color: rgb(2, 2, 112);
  justify-content: left;
}
.tamaño_logo_header {
  width: 65px;
}
.welcome {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
}
.color_header_font {
  color: aliceblue;
}
.color_footer_font {
  color: aliceblue;
}
.font_size_footer {
  font-size: medium;
  align-items: center;
}
.center {
  justify-content: center;
}
button {
  background-color: rgb(207, 212, 216);
  color: rgb(7, 5, 117);
  border-style: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.barra {
  color: #ccc;
  margin: 0 10px;
  font-weight: bold;
}
h3 {
  font-size: 60px;
}
.button_footer {
  height: 80px;
}
.button_header {
  height: 43px;
}
ul {
  align-items: center;
}
.tamaño_logo_header_linkedin {
  width: 100px;
}
.logos_header {
  display: flex;
  gap: 15px;
}
.logos_header_left {
  justify-content: left;
}
select {
  background-color: rgb(207, 212, 216);
  color: rgb(7, 5, 117);
  border-style: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.content_left {
  justify-content: righ;
}
