header {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: rgb(1, 1, 78);
  color: black;
}
.container {
  width: 1440px;
  padding-left: 168px;
  padding-right: 168px;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.menu {
  display: flex;
  gap: 30px;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #6b72b0;
}
#hello {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  background-image: url(images/slide-2.jpg);
  background-size: cover;
}
div {
  box-sizing: border-box;
}
.div_imagen {
  width: 900px;
  height: 500px;
}
